.biorhythm-card .physical path{
    stroke: var(--app-physical-color)
}

.biorhythm-card .emotional path{
    stroke: var(--app-emotional-color)
}

.biorhythm-card .intellectual path{
    stroke: var(--app-intellectual-color)
}

