:root {
    --ion-color-primary: #b938ff;
    --ion-color-primary-rgb: 185,56,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #a331e0;
    --ion-color-primary-tint: #c04cff;
}